#schphoto {
    width: 80%;
    height: 40%;
    margin: 10px auto 20px;
    display: block;
}

.travel_mainDiv img {
    width: 100%;
    height: 50%;
}

.travel_mainDiv {
    float: left;
    width: 33.33%;
    padding: 5px;
    border: 1px solid #c7c7c7;
}

#achievementsID {
    padding-bottom: 10px;
}

.movie_head {
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.movie_head i {
    float: right;
}
.whatsNew_li{
    margin-top: 10px;
}